{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
<!-- <h5>shop Product:{{petpro}}</h5>
<h2>Manasi:{{val}}</h2> -->
<!-- =============PRODUCT : SHOP CATEGORY ============== -->
<h4>category.html</h4>

<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                {% for val in product_title %}
                <a href="{% url 'productcategory' val.product_title %}" class="list-group-item list-group-item-action" aria-current="true">
                    <!-- prod.id as as parameter -->
                    {{val.product_title}}
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-9">
            <div class="row">
                {% for prod in petpro %}
                <div class="col text-center mb-4">
                    <a href="{% url 'productdetail' prod.id %}" class="btn">
                        <div>
                            <img src="{{prod.product_image.url}}" width="300px" height="200px"/>
                            <div class="fw-bold">{{prod.product_title}}</div>
                            <div class="fw-bold text-danger">
                                Rs.{{prod.discounted_price}}/
                            <small class="fw-light text-decoration-line-through">{{prod.selling_price}}</small>    
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock main-content%}