{% extends 'app/base.html' %}
{% load static %}
{% block title %} Password Change {% endblock %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li  class="d-grid">
                    <a href="{% url 'passwordchangedone' %}" class="btn btn-outline-success"> Change Password Done</a>
                </li>
            </ul>

        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully ! </h3>
            <div>
                <iframe src="https://giphy.com/embed/5NpIKs8rElm8Q04a4P" width="380" height="450" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>   
                
            </div>
        </div>
    </div>

</div>

{% endblock main-content %}