{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
<!-- <h1> pet name Category:{{petname}}</h1>
<hr>

<h2>Manasi : {{val}}</h2> -->
<!-- =============PRODUCT : PET CATEGORY ============== -->
<h4>petname.html</h4>


<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                {% for val in pet_title%}
                <a href="{% url 'petcategory' val.pet_title %}" class="list-group-item list-group-item-action" aria-current="true">
                    {{val.pet_title}}</a>
                    {% endfor %}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% for pettype in petname %}  
                <!-- petname is my var in my class  -->
                <div class="col text-center mb-4">
                    <a href="{% url 'petdetail' pettype.id%}" class="btn">
                        <div>
                            <img src="{{pettype.pet_image.url}}" width="300px" height="200px" />
                            <div class="fw-bold">{{pettype.pet_title}}</div>
                            <div class="fw-bold text-danger">
                                Rs.{{pettype.discounted_price}}/-
                                <small class="fw-light text-decoration-line-through">
                                    {{pettype.selling_price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock main-content %}